@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(90deg, #434343, #282828, #222222);
  width: 100%;
  height: 100vh;
}

* {
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
}
